.all {
    background-color: #F1F5FE;
    height: 925px;
}
.Main {
    align-items: center;
}

.popularTitle {
    margin-left: 18rem;
}

.popularPostList {
    margin-top: -1rem;
}

.popularTitle > text {
    font-size: 1.5rem;
    margin-top: 1rem;
    appearance: auto;
}

.postlist-map-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.post-list-container {
    flex: 1;
    overflow: auto; 
    margin-left: 18rem;
}

.post-list-container > text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    appearance: auto;
}

.map-container {
    flex: 1;
    margin-left: 30rem;
}

.map-container > svg {
    margin-top: 5rem;
}

.map-containers {
    position: absolute;
    left: 20rem;
    top: 17rem;
}

.map-containers > div {
    float: left;
}

.mainLogo > img{
    width: 8rem;
}

.mainContent > p {
    font-size: 3rem;
    font-weight: 600;
    height: 5rem;
}

.mainContent > h {
    font-size: 1.5rem;
    margin-top: -20rem;
}

.searchContainer {
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border: none;
    margin-top: 3rem;
}

.search-icon {
    color: gray;
    margin-left: 10px;
    margin-right: 5px;
}

.searchInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    border: none;
}

.search-input::placeholder {
    font-size: 0.9rem;
    color: #BDBDBD;
}

.hashtags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
}

.hashtags-container > button {
    background: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
}

.land {
    fill: white;
    fill-opacity: 1;
    stroke: #6d8cff;
    stroke-opacity: 1;
    stroke-width: 0.5;
    position: relative;
    transition: transform 0.1s linear;
    transform-origin: center;
}

.land:hover {
    fill: #6d8cff;
    cursor: pointer;
    justify-content: center;
}

.region-name {
    position: absolute;
    top: 35vw;
    left: 25vw;
    font-size: 1.5rem;
}

.marker {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 3px 6px;
    border-radius: 5px;
}

.user-card-container-title {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    appearance: auto;
    margin-left: 18rem;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20rem;
    gap: 50px;
    justify-content: center;
}

.user-card-container {
    flex: 0 0 calc(33.333% - 80px);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-card {
    width: 100%;
    padding-top: 100%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    color: #666;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.visit-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 50%;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
@media (max-width: 1380px) {
    .user-cards {
        padding: 0 10rem;
        gap: 20px;
    }
    .user-card-container {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 780px) {
    .user-cards {
        padding: 0 5rem; 
        gap: 10px;
    }
    .user-card-container {
        flex: 0 0 100%;
    }
}

