.all {
    background-color: #F1F5FE;
    height: 100vh;
}
.Main {
    align-items: center;
}

.popularTitle {
    margin-left: 18rem;
}

.popularPostList {
    margin-top: -1rem;
}

.popularTitle > text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    appearance: auto;
}

.postlist-map-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.post-list-container {
    flex: 1;
    overflow: auto; 
    margin-left: 18rem;
}

.post-list-container > text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    appearance: auto;
}

.map-container {
    flex: 1;
    display: flex;
    padding:0 10%;
}

.map-container > svg {
    margin-top: 5rem;
}

.map-containers {
    padding: auto;
    margin:auto;
    display: flex;
}

.map-containers > div {
    float: left;
    padding: 1rem;
}

.mainLogo > img{
    width: 6rem;
}

.mainContent_title {
    font-size: 2rem;
    font-weight: 600;
}

.mainContent_content {
    font-size: 1rem;
    margin-top:0.3rem;
}

.searchContainer {
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border: none;
    margin-top: 1rem;
}

.search-icon {
    color: gray;
    margin-left: 10px;
    margin-right: 5px;
}

.searchInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    border: none;
}

.search-input::placeholder {
    font-size: 0.8rem;
    color: #BDBDBD;
}

.hashtags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
}

.hashtags-container > button {
    background: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
}

.land {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
    position: relative;
    transition: transform 0.1s linear;
    transform-origin: center;
}

.land:hover {
    fill: #6d8cff;
    cursor: pointer;
    justify-content: center;
}

.region-name {
    position: absolute;
    top: 35vw;
    left: 25vw;
    font-size: 1.5rem;
}

.marker {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}
