.Main {
    align-items: center;
}

.container {
    margin: 56px 0;
}

.land {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
    position: relative;
    transition: transform 0.1s linear;
    transform-origin: center;
}

.land:hover {
    fill: #6d8cff;
    cursor: pointer;
    justify-content: center;
}

.region-name {
    position: absolute;
    top: 35vw;
    left: 25vw;
    font-size: 1.5rem;
}