.menuContainer {
    display: flex;
    position: relative;
}

.menuHeader {
    margin-left: 15rem;
    width: 70rem;
}

.menuTitle {
    font-size: 1.5rem;
}

.menuDivider {
    
}

.menuitemE {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    cursor: pointer;
    border-left: 3px solid transparent;
    transition: background-color 0.3s, border-left 0.3s;
    margin-top: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    margin-left: 5rem;
}
  
.menuitemE:hover,
.menuitemE.active {
    border-left: 3px solid #333;
}
  
.menuicon {
    margin-right: 10px;
    width: 2rem;
}

.contentE {
    flex-grow: 1;
    margin-right: 10rem;
}