.title {
    font-size: 2rem;
    font-weight: bold;
}
.view-container{
    width: 55%;
}
.button-container {
    height: 7vh;
}
.edit {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}
.edit > svg {
    width: 4vw;
    height: 4vh;
    fill: gray;
    margin-top: 2vh;
}
.menu {
    float: right;
    margin-right: -1.3vw;
}
.menu button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #DCDCDC;
    height: 4vh;
    color: gray;
}

.topcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nickname {
    clear: both;
    float: left;
    margin-top: 2.4vh;
    font-weight: bold;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}
.date {
    float: left;
    margin-top: 2.6vh;
    margin-left: 2vh;
    color: gray;
}
.location {
    clear: both;
    float: right;
    margin-left: auto;
}
.location > svg {
    width: 3vw;
    height: 3vh;
}
.location-name {
    clear: both;
    float: right;
    margin-top: 0.9vh;
    margin-left: -0.5vw;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
}

.overflow_menu {
    position: absolute;
    display: grid;
    margin-top:3rem;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    /* box-shadow: rgba(0, 0, 0, .1) 0 1px 1px 0; */
    /* background-color: #fff; */
    text-align: left;
}
.overflow_menu_div {
    display: flex;
    float: left;
}
.overflow_menu_btn {
    border: 1px solid #d5d5d5;
    /* border-radius: 3px; */
    /* box-shadow: rgba(0, 0, 0, .1) 0 1px 1px 0; */
    background-color: #fff;
    width: 7rem;
    display: flex;
}
.overflow_menu_btn_div {
    margin-right: auto;
    color:#888;
}

.border1 {
    clear: both;
    border-top: 2px solid black;
    margin-top: 1rem;
}
.schedule {
    margin-top: 3.5vh;
    clear: both;
    border-radius: 20px;
    background: #F5F5F5;
    min-height: 5vh;
}
.schedule-item {
    display: flex;
    justify-content: left;
    align-items: center;
}
.schedule-item-date{
    border-radius: 5px;
    box-shadow: 3px 3px 3px #DCDCDC;
    text-align: center;
    background: #FFFFFF;
    padding: 5px;
    width: 13vw;
    margin-left: 1rem;
}
.schedule-item-location{
    border-radius: 5px;
    box-shadow: 3px 3px 3px #DCDCDC;
    text-align: center;
    background: #FFFFFF;
    padding: 5px;
    width: 23vw;
    margin: 10px 20px;
}
.schedule-item-transportation{
    border-radius: 5px;
    box-shadow: 3px 3px 3px #DCDCDC;
    text-align: center;
    background: #FFFFFF;
    padding: 5px;
    width: 120px;
    margin: 10px 20px;
}
.border2 {
    clear: both;
    border-top: 3.5px solid rgba(0, 0, 0, 0.09);
    margin: 5vh auto 0;
    width: 250px;

}
.post {
    text-align: left;
    padding: 1.5vh;
}
.post-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.summary {
    float: left;
    font-size: 0.8rem;
    color: gray;
    margin-left: 1vw;
    margin-bottom: 0.5vh;
}
.summary-box {
    clear: both;
    border-radius: 20px;
    background: #F5F5F5;
    min-height: 5vh;
}
.summary-contents {
    text-align: left;
    padding: 2vw 5vh;
    font-size: 1rem;
}
.hashtag {
    text-align: left;
    margin-top: 3vh;
}
.hashtag button {
    border: none;
    border-radius: 20px;
    background-color: #5076FF;
    color: white;
    min-width: 3.5vw;
    font-size: 0.9rem;
    padding: 0.7vh;
    margin-right: 1.5vw;
    cursor: pointer;
}

.quill img{
    object-fit: cover;
    max-width: 49.5rem;
}