.containerBox {
    background-color: white;
    padding: 2rem 3rem;
    width: 800px;
}

.body0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%
}

.body0 select, .body0 .toggleWrapper {
    margin-right: 1rem;
}

.toggleWrapper {
    object-fit: contain;
}
.body0 select {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    height: 2.3rem;
}

#title {
    font-size: 1.8rem;
    text-align: left;
    border: none;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.body0 button {
    border: none;
    border-radius: 50px;
    background-color: #5585FF;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 4rem;
    height: 2.3rem;
    display: inline-block;
    vertical-align: middle;
}

.body2 {
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.selectTransport {
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    height: 3vh;
}

.schedulecss {
    text-align: left;
    width: 99%;
}

.schedulecss input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    width: fit-content;
    margin-right: 1rem;
    height: 3vh;
    width: 6vw;
    margin-left: 0.5rem;
}

.react-datepicker__input-container {
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
}

.scheduleList {
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    padding: 0.5rem;
}

.index {
    font-weight: bold;
    margin-right: 1vw;
    min-width: 2.5vw;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.scheduleListItems {
    display: flex;
    align-items: center;
}

.dateSelect {
    float: left;
    color: gray;
}

.selectLocation {
    width: fit-content;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    cursor: pointer;
    margin-right: 1vw;
    font-size: 1rem;
    background-color: white;
    height: 3vh;
    align-items: center;
    display: flex;
}

.locationTitle {
    margin-right: 1vw;
    margin-top: 1vh;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    width: 2vw;
    clear: both;
    float: left;
}

.locationName {
    margin-right: 1rem;
    width: fit-content;
    padding: 0 0.7rem;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    height: 3vh;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.minus {
    height: 3vh;
    width: 2vw;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-left: 3px;
    background-color: white;
    align-items: center;
    display: flex;
}

.plus {
    height: 3vh;
    width: 2vw;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-left: 3px;
    background-color: white;
    align-items: center;
    display: flex;
}

.foot {
    text-align: left;
    margin-bottom: 0.8rem;
}

.menuButtonEdit {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    height: 2.3rem;
    background-color: white;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

.summary-content {
    margin-top: 1vh;
    text-align: left;
    border: 1px solid #CFCFCF;
    border-radius: 2px;
    width: 98%;
    padding: 0.5rem;
    min-height: 6vh;
    height: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}

.deleteButton {
    width: 3rem;
}

.aiSummaryTitle {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}