#post-list {
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    max-width: 65%;
    padding: 20px;
}

.search-word {
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    background-color: #5076FF;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    width: max-content;
    padding: 1vh;
    display: flex;
    align-items: center;
}

.search-word-term {
    margin-left: 0.3rem;
}

.hashtag-word {
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    background-color: #5076FF;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    width: max-content;
    padding: 0.7vh;
}

.resultNone {
    font-size: 1.2rem;
    color: gray;
    margin-top: 1rem;
}