#post-list {
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    max-width: 65%;
    padding: 2rem 25rem;
}

.search-word {
    font-size: 1.3rem;
    font-weight: lighter;
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 1.2rem 0;
}

.search-word-term {
    margin-left: 0.3rem;
    font-size: 1.3rem;
}

.hashtag-title {
    font-weight: bold;
    margin-bottom: -1rem;
}

.hashtag-word {
    font-size: 1.3rem;
    font-weight: lighter;
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 1.2rem 0;
}

.hashtag-word-term {
    margin-left: 0.3rem;
    font-size: 1.3rem;
}

.hashtagSet {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.resultNone {
    font-size: 1.2rem;
    color: gray;
    margin-top: 1rem;
}

.region-word {
    font-size: 1.3rem;
    font-weight: lighter;
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 1.2rem 0;
}

.region-word-term {
    margin-left: 0.3rem;
    font-size: 1.3rem;
}