.App {
  text-align: center;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'BMHANNA';
  src: url('../assets/font/BMHANNA_11yrs_ttf.ttf') format('truetype');
}
@font-face {
  font-family: 'Cafe24hsquareair';
  src: url('../assets/font/Cafe24Ohsquareair.ttf') format('truetype');
}

.body {
  padding: 1.1rem 1.2rem;
}
* {
  font-family: "Cafe24hsquareair";
  font-size: 1rem;
}