.App {
  text-align: center;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

.body {
  padding: 1.1rem 1.2rem;
}
* {
  font-family: "Inter";
}