.navbar {
    position: fixed; /* 내비바고정 */
    top: 0; /* 내비바 상단화면 맞춤 */    
    min-width: 100%; /* 화면 전체 너비를 차지하도록 설정하기*/
    height: 2rem;
    z-index: 999; /* 내비바가 항상 보이게끔 하기 */
    display: flex;
    flex-direction: row;    /* 가로정렬 */
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0.3rem;
}
.navbar img {
    height: 2rem;
}
.navbar ul {
    list-style:none;
    object-fit: cover;
    margin: 0;
    padding-right: 1rem;
}
.navbar li {
    float:left;
}
.navbar-logo a {
    color: black;
    text-decoration: none;
}
.navbar-search-bar {
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
}
.navbar-search-icon {
    display: flex;
    align-items: center;
}


.search-input[type="text"] {
    margin-right: 1.5rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.search-button {
    background-color: transparent;
    color: black;
    border:none;
    cursor: pointer;
}

.navbar-profile a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar-profile {
    display: flex;
    align-items: center;
}

.profile-icon {
    cursor: pointer;
    margin-right: 1.2rem;
}

.profile-items {
    position: absolute;
    top: 100%; 
    right: 0;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* 세로정렬 */
    margin-right: 2rem;
}

.navbar-profile a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}