.wrapper {
    margin: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    padding: 0 15rem;
}


.card {
    min-width: 18rem;
    height: 30vh;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid gray;
}

.cardimg {
    width: 12rem;
    height: 12rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    object-fit: contain;
}

.cardbody {
    margin: 2em;
    width: 50rem;
}

.cardtitle {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}