.personal_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 10rem; 
}

.personal_profile img {
    margin-right: 0.5rem;
    object-fit: contain;
}