.head {
    text-align: right;
    padding:0.5rem;
}

.body {
    text-align: center;
}

.foot {
    width: 50%;
    text-align: left;
    margin: auto;
    margin-bottom: 0.8rem;
}


#title {
    height: 30px;
    margin: 10px;
    width: 49.5%;
    border-radius: 2px;
    text-align: left;
    border: 1px solid #f1f1f1;
}
