.body1 {
    text-align: center;
    margin-right: 5.2vw;
}

.body1 > select {
    border: none;
    text-align: center;
    font-weight: bold;
    margin-left: 4.2vw;
}

#title {
    height: 30px;
    margin: 10px;
    width: 753px;
    border-radius: 2px;
    text-align: left;
    border: 1px solid #f1f1f1;
}

.body1 button {
    border: none;
    border-radius: 5px;
    background-color: #5585FF;
    color: white;
    width: 3.5vw;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    margin-right: 0.8vw;
    cursor: pointer;
}

.body2 {
    margin-bottom: 1.5vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}

.body2 > div {
    justify-content: center;
    margin-left: 22.7vw;
}

.index {
    margin-left: -5.5vw;
    margin-right: 1vw;
    font-size: 0.87rem;
    font-weight: bold;
}

.body2 > div > input {
    margin-right: 1vw;
    margin-top: 1vh;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height: 4vh;
}

.selectLocation {
    width: 3vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    background-color: #5076FF;
    color: white;
    cursor: pointer;
    margin-right: 1vw;
}

.locationTitle {
    font-size: 0.87rem;
    font-weight: bold;
    margin-right: 1rem;
}

.minus {
    height: 4vh;
    width: 2vw;
    border: none;
    border-radius: 5px;
    background-color: #5076FF;
    color: white;
    font-size: 1.1rem;
}

.body2 > button {
    margin-left: 23.5vw;
    margin-top: 1vh;
    float: right;
    height: 4vh;
    width: 2vw;
    border: none;
    border-radius: 5px;
    background-color: #5076FF;
    color: white;
    font-size: 1.1rem;
}

.foot {
    width: 50%;
    text-align: left;
    margin: auto;
    margin-bottom: 0.8rem;
}
