.body1 {
    text-align: center;
    margin-right: 5.2vw;
    margin: auto;
}

.body1 > select {
    border: none;
    text-align: center;
    font-weight: bold;
    margin-left: 4.2vw;
}

#title {
    height: 3vh;
    margin: 10px;
    width: 40vw;
    border-radius: 2px;
    text-align: left;
    border: 1px solid #f1f1f1;
}

.body1 button {
    border: none;
    border-radius: 15px;
    background-color: #5585FF;
    color: white;
    width: 3.5vw;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    margin-right: 0.8vw;
    cursor: pointer;
}

.body2 {
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    margin: auto;
}

.schedulecss {
    text-align: left;
}

.schedulecss input {
    text-align: left;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    width: 5vw;
    margin-right: 2rem;
}

.scheduleList {
    margin-bottom: 1vh;
}

.index {
    font-size: 0.87rem;
    font-weight: bold;
    margin-right: 1vw;
}

.selectLocation {
    width: 3vw;
    height: 3vh;
    border: none;
    border-radius: 5px;
    background-color: #5585FF;
    color: white;
    cursor: pointer;
    margin-right: 1vw;
    font-weight: bold;
}

.locationTitle {
    margin-right: 1vw;
    margin-top: 1vh;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height: 3vh;
    width: 2vw;
    clear: both;
    float: left;
}

.locationName {
    margin-right: 1rem;
    font-size: 0.9rem;
    display: inline-block;
    width: 7vw;
}

.minus {
    height: 3vh;
    width: 2vw;
    border: none;
    border-radius: 5px;
    background-color: #5585FF;
    color: white;
    font-size: 1.1rem;
    margin-left: 3px;
}

.plus {
    height: 3vh;
    width: 2vw;
    border: none;
    border-radius: 5px;
    background-color: #5585FF;
    color: white;
    font-size: 1.1rem;
    margin: auto;
    margin-left: 3px;
}

.foot {
    width: 50%;
    text-align: left;
    margin: auto;
    margin-bottom: 0.8rem;
}

.foot button {
    border: none;
    border-radius: 5px;
    background-color: #5585FF;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    margin-right: 0.8vw;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: (255,255,255,0);
}

.toggleBtn {
    width: 4vw;
    height: 3.3vh;
    border: 1px solid #5585FF;
    border-radius: 20px;
    background-color: white;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}
  
.toggleBtn input[type="checkbox"] {
    display: none;
}
  
.toggleBtn span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #5585FF;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: left 0.3s;
}
  
.toggleBtn input[type="checkbox"]:checked + span {
    left: calc(100% - 23px);
}

.toggleInput {
    font-size: 0.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5585FF;
    font-weight: bold;
    font-size: 0.8rem;
}