.inputForm {
    text-align: center;
    margin: 2rem;
}
.result-list {
    padding-left:2rem;
    text-align: left;
    float:left;
}
.list{
    display: flex;
    flex-direction: column;
}
#pagination {
    margin-top: 3rem;
    display: none;
}  
#pagination a {
    color: black;
    font-size: 0.7rem;
    text-decoration: none;
    margin: 0.2rem 0.8rem;
}

#pagination a.on {
    color: lightblue;
    font-weight: bold;
}
.selectlocation_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* 장소 이름 */
.titlebtn {
    background-color: #5076ff;
    color: #ffffff;
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}
/* 장소 주소 */
.addressname{
    text-align: center;
    font-size:0.7rem;
}
/* 검색입력창 */
.searchinput {
    margin-right: 1vw;
    border: 1px solid #5076FF;
    border-radius: 5px;
    height: 3vh;
    font-size: 0.7rem;
}
/* 검색버튼 */
.searchbtn{
    border-style: none;
    border-radius: 0.2rem;
    background-color: #5076FF;
    font-size: 0.7rem;
    height: 3.3vh;
    color: white;
}

.btn {
    display: inline-flex;
    align-items: center;
}

.closebtn {
    margin-left: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}