.comments-top-wrapper {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
}

.comments-num {
    clear: both;
    text-align: center;
    border-radius: 5px;
    background: #F5F5F5;
    font-size: 0.9rem;
    padding: 1vh;
    object-fit: contain;
}

.comments-bookmarker{
    margin-left: auto;
    color: gray;
    cursor: pointer;
}

.comments-bookmarker-btn {
    border: none;
    background-color: transparent;
}

.border3 {
    clear: both;
    border-top: 2px solid rgba(0, 0, 0, 0.09);
    margin: 1vh auto 0;
    padding-top: 2vh;
    width: 100%;
}
.info {
    clear: both;
    float: left;
}
.info > svg {
    width: 4vw;
    height: 4vh;
    fill: gray;
}
.comments-nickname {
    clear: both;
    float: right;
    margin-top: 1vh;
    font-size: 0.8rem;
    font-weight: bold;
}
.comments-input {
    clear: both;
    float: left;
    width: 100%;
}
.comments-input textarea {
    float: left;
    border: 2px solid #e8e7e7;
    border-radius: 10px;
    background: white;
    width: 95%;
    height: 75px;
    padding: 10px;
    margin-top: 1vh;
}
.comments-input button {
    float: right;
    border: none;
    border-radius: 5px;
    background: #5076FF;
    width: 80px;
    color: white;
    font-weight: bold;
    padding: 1vh;
    margin: 2vh;
    margin-right: 2vw;
    cursor: pointer;
}
.border4 {
    clear: both;
    border-top: 2px solid rgba(0, 0, 0, 0.09);
    width: 100%;
}
.edit-set {
    display: flex;
    align-items: center;
}
