.navbar {
    position: fixed; /* 내비바고정 */
    top: 0; /* 내비바 상단화면 맞춤 */    
    min-width: 100%; /* 화면 전체 너비를 차지하도록 설정하기*/
    height: 3rem;
    z-index: 999; /* 내비바가 항상 보이게끔 하기 */
    display: flex;
    flex-direction: row;    /* 가로정렬 */
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0.5rem 1.0rem;
    border-bottom: 1px rgba(0,0,0,0.09) solid;
}
.navbar img {
    height: 2rem;
}
.navbar .navbar-logo {
    height: 4.2rem;
    width: 6.8rem;
}
.navbar ul {
    list-style:none;
    object-fit: cover;
    margin: 0;
    padding-right: 1.5rem;
}
.navbar li {
    float:left;
}
.navbar-logo a {
    color: black;
    text-decoration: none;
}
.navbar-search-bar {
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
}
.navbar-search-icon {
    display: flex;
    align-items: center;
}
.navbar-search-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}


.search-input[type="text"] {
    margin-right: 1rem;
    height: 3vh;
    font-size: 0.8rem;
    border: 1px solid gray;
    border-radius: 1rem;
    padding-left: 1rem;
}

.search-button {
    background-color: transparent;
    color: black;
    border:none;
    cursor: pointer;
}

.navbar-profile a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar-profile {
    display: flex;
    align-items: center;
}

.profile-icon {
    cursor: pointer;
    margin-right: 2rem;
}

.profile-icon:hover {
    transform: scale(1.1, 1.1);
}

.profile-items {
    position: absolute;
    top: 100%; 
    right: 0;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* 세로정렬 */
    margin-right: 2rem;
}

.navbar-profile a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}


.navbar-profile:hover .optionList {
    opacity: 1;
    visibility: visible;
}

.option {

    border-radius: 4px;
    background-color: white;
}


.optionList {
    width: 10rem;
    top:100%;
    right: 0;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 1s linear;
}

.optionListItem {
    height: 2rem;
    padding: 1rem 0 0 1rem;
    overflow: hidden;
    transition: all 0.8s;
    cursor: pointer;
}

.logoutButton {
    cursor: pointer;
}
/* .optionListItem button {
    border: none;
    background-color: white;
} */