.navbar {
    position: fixed; /* 내비바고정 */
    top: 0; /* 내비바 상단화면 맞춤 */    
    height: 4rem;
    z-index: 999; /* 내비바가 항상 보이게끔 하기 */
    display: flex;
    flex-direction: row;    /* 가로정렬 */
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    border-bottom: 1px rgba(0,0,0,0.09) solid;
    width: 80%;
    padding: 0 10%;
}
.navbar img {
    height: 2rem;
}
.navbar .navbar-logo {
    height: 4.2rem;
    width: 6.8rem;
}
.navbar-search-bar {
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbar-search-icon {
    display: flex;
    align-items: center;
}
.navbar-search-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}


.search-input[type="text"] {
    margin-right: 1rem;
    height: 3vh;
    font-size: 0.8rem;
    border: 1px solid gray;
    border-radius: 1rem;
    padding-left: 1rem;
}

.search-button {
    background-color: transparent;
    color: black;
    border:none;
    cursor: pointer;
}

.navbar-profile a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar-profile {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.profile-icon {
    cursor: pointer;
}

.profile-icon:hover {
    transform: scale(1.1, 1.1);
}

.navbar-profile:hover .optionList {
    opacity: 1;
    visibility: visible;
}

.option {

    border-radius: 4px;
    background-color: white;
}


.optionList {
    top:100%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 4px;
    visibility: hidden;
    transition: visibility 0.2s linear;
    right: 7.5%;
}

.optionListItem {
    height: 2rem;
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;
    cursor: pointer;
    width: max-content;
}
.optionListItem:hover {
    transform: scale(1.1, 1.1);
}

.logoutButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
}