.cardInfo {
    font-size: 0.8rem;
}

.hashtagWrapper {
    display: grid;
}

.hashtagBox {
    float: left;
    margin-right: 1vw;
    border-radius: 10px;
    background-color: #5076FF;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.cards {
    min-width: 18rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid gray;
    cursor: pointer;
    overflow: hidden;
}

.cardContents {
    margin: 2em;
    width: 100%;
    height: 2vh;
}

.noImg {
    width: 10rem;
    height: 10rem;
    background-color: gray;
    opacity: 0.1;
}

.cardimg {
    width: 15rem;
    height: 15rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    object-fit: contain;
}

.cardtitle {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}   

.cardcontent {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}