.cardInfo {
    font-size: 0.7rem;
}

.hashtagWrapper {
    display: grid;
}

.hashtagBox {
    float: left;
    margin-right: 1vw;
    border-radius: 10px;
    background-color: #5076FF;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.cards {
    min-width: 18rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid gray;
    cursor: pointer;
    overflow: hidden;
}

.cardContents {
    margin: 1.2rem;
    width: 100%;
}

.cards-img-wrapper{
    align-self: center;
}

.noImg {
    width: 10rem;
    height: 10rem;
    background-color: gray;
    opacity: 0.1;
}

.cardimg {
    width: 8rem;
    height: 8rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    object-fit: contain;
}

.cardtitle {
    line-height: 1.2rem;
    margin-bottom: 0.4rem;
}   

.cardcontent {
    font-size:0.9rem;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}