.userProfileEdit {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 auto;
}

.profileChange {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    font-size: 1.2rem;
    text-align: left;
}

.profileChange input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    margin-top: 1vh;
    justify-content: right;
}
  
.saveButton {
    border: none;
    background-color: #5585FF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 4vh;
}

.borderUnsubscribe{
    border-top: 1px solid #ddd;
    margin: 0;
    margin-bottom: 1rem
}

.unsubscribeContainer {
    display: flex;
    justify-content: center;
}

.unsubscribeButton {
    border: 1px solid #f83434;
    background-color: white;
    color: #f83434;
    border-radius: 4px;
    cursor: pointer;
    height: 4vh;
    margin-left: 1vw;
}
